<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">{{>header}}
        <p>This site was created by Harsh Gupta. I created this website
            as a small project while learning NodeJS.
            This is a simple website which uses Weatherstack api for obtaining the weather data.
        </p>   
    <img class="portrait"src="./img/download.png" alt="">
    </div>
    
    {{>footer}}
</body>

</html>